[Unit]
Description=FF Relay Daemon
After=network.target

[Service]
User=bobrock
Group=bobrock
WorkingDirectory=/home/bobrock/extras/ff-relay
Environment="PATH=/home/bobrock/venvs/ff_relay311/bin"
ExecStart=/home/bobrock/venvs/ff_relay311/bin/gunicorn --workers 2 --bind 127.0.0.1:5011 -m 007 wsgi:app --access-logfile '-' --error-logfile '-' --log-level 'debug'
Restart=on-failure

[Install]
WantedBy=multi-user.target
